name: Deploy Infrastructure

on:
  push:
    branches: [main]
    paths:
      - 'infrastructure.yml'
      - '.github/workflows/infrastructure.yml'
      - '.github/workflows/deploy-infrastructure.yml'
  workflow_dispatch:

jobs:
  deploy-infrastructure:
    uses: ./.github/workflows/deploy-infrastructure.yml
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
